#header-nav {
    background-color: grey;
    border-radius: 0;
    border: 0;
  }

  .navbar-brand {
    padding-top: 25px;
  }
  
  .navbar-brand h1 { /* Restaurant name */
    font-family: 'Oxygen', sans-serif;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .25;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  .head {
      text-align: center;
      font-weight: bold;
    font-family: 'Oxygen', sans-serif;
    text-shadow: 1px 1px 1px black;
  }

  nav-list {
    margin-top: 10px;
    background-color: white;
  }
  #nav-list a {
    color: #951C49;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }

  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }

#beef
{
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}
#chicken
{
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}
#sushi
{
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

.chicken {
    background-color: grey;
    float: left;
        box-sizing: border-box;
        border: 2px solid black;
        margin: 10px;

}

.beef {
    background-color: grey;
    float: left;
        box-sizing: border-box;
        border: 2px solid black;
        margin: 10px;
        
}
.sushi {
    background-color: grey;
    float: left;
        box-sizing: border-box;
        border: 2px solid black;
        margin: 10px;
        
}
